<div id="<%= dom_id truck %>">
  <p>
    <strong>Name:</strong>
    <%= truck.name %>
  </p>

  <p>
    <strong>Number of seater:</strong>
    <%= truck.number_of_seater %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= truck.size %>
  </p>

</div>
