<div id="<%= dom_id bus %>">
  <p>
    <strong>Name:</strong>
    <%= bus.name %>
  </p>

  <p>
    <strong>Number of seater:</strong>
    <%= bus.number_of_seater %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= bus.size %>
  </p>

</div>
