<div id="<%= dom_id car %>">
  <p>
    <strong>Name:</strong>
    <%= car.name %>
  </p>

  <p>
    <strong>Number of seater:</strong>
    <%= car.number_of_seater %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= car.size %>
  </p>

</div>
